     <div>
      <input
        type="text"
        placeholder="Enter shared key"
        [(ngModel)]="sharedKey"
      />
        <button
          type="button"
          (click)="searchSharedKey()"
        >
          Search
        </button>

        <button
        class="advanced-search-button"
        type="button"
        (click)="showAdvancedSearchDiv()"
      >
      Advanced Search
      </button>
      </div>

      <div *ngIf="advancedSearchDiv" style="text-align:left;">
        <form class="styled-form" align="left">
        <div class="form-group">
          <label for="sharedKey">Shared Key</label>
          <input
            type="text"
            class="form-control"
            id="sharedKey"
            required
            [(ngModel)]="aSharedKey"
            name="sharedKey"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Business ID</label>
          <input
            class="form-control"
            id="businessId"
            [(ngModel)]="aBusinessId"
            name="businessId"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Email</label>
          <input
            class="form-control"
            id="email"
            [(ngModel)]="aEmail"
            name="email"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Phone</label>
          <input
            class="form-control"
            id="phone"
            [(ngModel)]="aPhone"
            name="phone"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Start Date</label>
          <input
            class="form-control"
            id="startDate"
            [(ngModel)]="aStartDate"
            name="startDate"
          />
        </div>
  
        <div class="form-group">
          <label for="description">End Date</label>
          <input
            class="form-control"
            id="endDate"
            [(ngModel)]="aEndDate"
            name="endDate"
          />
        </div>
  
        <div align="right">
          <button (click)="advancedSearch()"
        class="advanced-search-button"
        >OK</button>
        <button (click)="closeSearch()" class="advanced-search-button">Close</button>
        </div>
        </form>
      </div>
   
    <h2>Clients</h2>

    <table>
      <thead>
        <tr>
          <th>Shared Key</th>
          <th>Business ID</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th><span class="edit-icon-yellow"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr
         *ngFor="let client of clients; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveClient(client, i)"
          >
          <td>{{ client.sharedKey }}</td>
          <td>{{ client.businessId }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.startDate }}</td>
          <td>{{ client.endDate }}</td>
          <td><span class="edit-icon"></span></td>
        </tr>
      </tbody>
    </table>
