    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    header {
      background-color: #fff; /* White background */
      padding: 15px;
    }

    header img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    nav {
      float: left;
      width: 20%;
      background-color: #fff; /* White background */
      padding: 15px;
      height: 100vh;
      box-sizing: border-box;
      text-align: center; /* Align menu items to the right */
    }

    nav ul {
      list-style: none; /* Remove bullets */
      padding: 0;
    }

    nav li {
      margin-bottom: 10px;
      text-align: center; /* Align menu items to the right */
    }

    nav a {
      text-decoration: none; /* Remove underlines */
      color: #333; /* Set link color */
    }

    main {
      float: left;
      width: 80%;
      padding: 15px;
      box-sizing: border-box;
      background-color: #fff; /* White background */
      position: relative; /* Add relative positioning */
    }

    .search-area {
      margin-bottom: 20px;
    }

    button {
      padding: 10px;
      font-size: 16px;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
    }

    /* Styling for the first two buttons in the Advanced Search area */
    .search-area button:first-child,
    .search-area button:nth-child(2) {
      background-color: #007bff;
      color: white;
    }

    .advanced-search-button {
      padding: 10px;
      font-size: 16px;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    .edit-icon::before {
      content: "\270E";
      font-size: 18px;
      margin-right: 5px;
    }

    .edit-icon-yellow::before {
      content: "\270E";
      font-size: 18px;
      margin-right: 5px;
      color: yellow;
    }


    /* Styles for the input and button */
    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .rounded-button {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 20px;
      background-color: #4caf50;
      color: white;
    }

    /* Styling for the person icon */
    .person-icon {
      font-size: 20px;
      margin-right: 5px;
      color: #007bff;
    }

    /* Styles for the form */
    .form-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      padding: 20px;
      background-color: #ddd; /* Grey background */
      z-index: 1; /* Ensure the form is on top of other elements */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
      background-color: #fff; /* White background for the form */
    }

    form input,
    form button {
      margin-bottom: 10px;
    }

    .export-icon::before {
      content: "\2193"; /* Unicode character for an up-right arrow, you can replace it with your desired export icon */
    }

    .plus-icon::before {
      content: "\002B"; /* Unicode character for an up-right arrow, you can replace it with your desired export icon */
    }

    h2 {
        color: #008DD4; /* Set link color */
    }
    .styled-form {
      background-color: #A9C9D8;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px;
      width: 400px; /* Set your desired width */
      margin: auto; /* Center the form horizontally */
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }