  <header>
    <img src="assets/layout_set_logo.png" alt="Your Logo">
  </header>

  <nav>
    <h2><span class="person-icon"></span>Clients</h2>
    <ul>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Clients look history</a></li>
      <li><a href="#">Emergency PIN configuration</a></li>
      <li><a href="#">Emergency PIN history</a></li>
    </ul>
  </nav>

  <main>
    <!-- Form container with grey background -->
    <div class="form-container" *ngIf="newDiv">

     <app-add-client (closeAdd)="closeAdd()"></app-add-client>

    </div>

    <div class="search-area">
      <button (click)="showNew()"><span class="plus-icon"></span> New</button>
      <button (click)="exportCSV()"><span class="export-icon"></span> Export</button>
    </div>
   
     <app-clients-list listUsers></app-clients-list>

  </main>
