<div>
  <div class="styled-form">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

    <div *ngIf="!submitted">

      <div class="form-group">
        <label>Create New Client</label>
      </div>

      <div>
      </div>

      <div class="form-group">
        <label for="sharedKey">Shared Key*</label>
        <input [(ngModel)]="client.sharedKey" formControlName="sharedKey" class="form-control"> 
          <p *ngIf="clientForm.get('sharedKey')?.touched && clientForm.get('sharedKey')?.hasError('required')">Shared Key is required</p>
      </div>

      <div class="form-group">
        <label for="businessId">Business ID*</label>
        <input [(ngModel)]="client.businessId" formControlName="businessId" class="form-control"> 
          <p *ngIf="clientForm.get('businessId')?.touched && clientForm.get('businessId')?.hasError('required')">Business ID is required</p>
        </div>

      <div class="form-group">
        <label for="email">Email*</label>
        <input [(ngModel)]="client.email" formControlName="email" class="form-control"> 
        <p *ngIf="clientForm.get('email')?.touched && clientForm.get('email')?.hasError('required')">Business ID is required</p>
        <p *ngIf="clientForm.get('email')?.touched && clientForm.get('email')?.hasError('email')">Not a valid Email</p>
      </div>

      <div class="form-group">
        <label for="phone">Phone*</label>
        <input [(ngModel)]="client.phone" formControlName="phone" class="form-control"> 
        <p *ngIf="clientForm.get('phone')?.touched && clientForm.get('phone')?.hasError('required')">Phone is required</p>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date*(AAAA-MM-DD)</label>
        <input [(ngModel)]="client.startDate" formControlName="startDate" class="form-control"> 
        <p *ngIf="clientForm.get('startDate')?.touched && clientForm.get('startDate')?.hasError('required')">Start Date is required</p>
      </div>

      <div class="form-group">
        <label for="endDate">End Date*(AAAA-MM-DD)</label>
        <input [(ngModel)]="client.endDate" formControlName="endDate" class="form-control"> 
        <p *ngIf="clientForm.get('endDate')?.touched && clientForm.get('endDate')?.hasError('required')">End Date is required</p>
      </div>

      <div align="right">
        <button (click)="saveClient()" class="ok-button">OK</button>
        <button (click)="closeAddB()" class="ok-button">Close</button>
      </div>
    </div>

    <div *ngIf="submitted">
      <h4>Client was created successfully!</h4>
      <button (click)="closeAddB()" class="ok-button">Close</button>
    </div>

  </form>

  </div>
</div>
