.submit-form {
  max-width: 400px;
  margin: auto;
}

.styled-form {
  background-color: #A9C9D8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px; /* Set your desired width */
  margin: auto; /* Center the form horizontally */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.ok-button {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}